/* Home Page */

#about h1 {
    color: var(--secondary);
}

.logo-about {
    width: 35rem;
    height: auto;
}

.logo-prod {
    width: 20rem;
    height: auto;
}

.logo-prod:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

/* About Page */

.logo-about {
    width: 35rem;
    height: auto;
}

.card {
    background-color: var(--primary);
    border-top: 5px var(--secondary) solid;
}

.card h6 {
    color: var(--secondary);
}

.about-prod {
    width: 25rem;
    height: auto;
}