footer {
    background-color: var(--secondary);
}

.link-footer {
    font-size: 1.2em;
}

.link-email h6, .link-phone h6 {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 0.8em;
}

.link-email span, .link-phone span {
    font-size: 0.6em;
}

.social-footer .bi {
    font-size: 1.5em;
    color: var(--alternative);
}